
/* ノートパソコン用 */
@media screen and (max-width:1480px) {
    .title_section{
        position: absolute;
        width:100%;

    }
    .chatchcopy {
        display: block;
        width: 100%;
        /* text-align: left; */
        /* float: left; */
    }
    
    .arrowBox {
        position: relative;
        transform: scale(0.8);
        left: -95px;
        justify-content: left;
    }
    
    .arrowTxt {
        margin-left: 40px;
    }
    
    .threeContentBox {
        transform: scale(0.8);
        position: relative;
        left: 150px;
        bottom: 85px;
        width: auto;
    
    }
    .dogBox {
        transform: scale(-0.7,0.7);
        bottom: 280px;
    }

    .nikuBox {
        right: 245px;
        bottom: 120px;
    }

    .sec_worries {
        position: relative;
        top: 1000px;
    }
    
    .nav_worries {
        width: 100%;
        margin-left: -5%;
        transform: scale(0.9);
    }
    
    .li_cts1 {
        margin-left: 0px;
    }
    
    .li_cts2 {
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .etc {
        margin-left: 25px;
    }
    
    .sec_resolution {
        position: relative;
        top: 900px;
    }
    
    .resolutionTxt {
        font-size: 40px;
        height: 150px;
    }
    
    .inlineTxt {
        display: inline;
        color: red;
        font-size: 100px;
    }
    
    .img_imgdog {
        position: absolute;
        right: 35px;
        bottom: 0px;
        transform: scale(0.95);
    }
    
    .ul_4point {
        width: 100%;
    }
    
    .ul_anypoint {
        transform: scale(0.7);
        position: relative;
        bottom: 300px;
        right: 200px;
    }

    .sec_resolution{
        /*display: none;*/
        height: 2700px;
    }
    .sec_curriculum{
        position: relative;
        width: 100%;
        top: 900px;
    }
    .sec_lireses{
        display: none;
    }
    .sec_Price{
        display: none;
    }
}